.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1,
h2 {
  margin-top: 0;
}

form {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

input, textarea {
  width: 200px;
  padding: 15px 22px;
  margin: 10px 5px;
  box-sizing: border-box;  
  border: 1px solid #3b5998;
  border-radius: 4px;
}
button {
  background:#3b5998;
  margin-top: 10px;
  background-image: linear-gradient(-315deg, #3b5998 40% #3b5998 100%);
  border: 1px solid #3b5998;
  padding: 10px 15px;
  font-size: 16px;
  color: white;
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.12), 0 2px 2px 1px rgba(0, 0, 0, 0.24);
  transition: all 0.2 ease-in;
  
}
button:hover {
  transform: translateY(-1px);
  box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.12), 0 2px 3px 2px rgba(0, 0, 0, 0.24);
  background: #263962;
}
button:active {
  background: #3b5998;
  box-shadow: inset 0px 0px 5px #3b5998;
  outline: none;
}

label {
  margin-bottom: -5px;
  text-align: left;
  width: 200px;
  font-weight: bold;
}
.member-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.member {
  background: #dfe3ee;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12), 0 5px 2px rgba(0, 0, 0, 0.24);
  width: 100%;
  max-width: 250px;
  padding: 10px;
  margin: 16px auto;
  text-align: left;
}
.edit-button {
  width: 15%;
  border: 1px solid grey;
  padding: 5px 10px;
  background-color: rgb(235, 243, 243);
  cursor: pointer;
}
.edit-button:hover {
  background-color: green;
  color: white;
}