* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
}

.member {
  border: 1px solid #000;
  width: 450px;
  height: 185px;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  margin: 10px auto;
}
.member aside {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
}
.member aside button {
  position: absolute;
  bottom: -10px;
  right: -10px;
}
.member .main{
  font-size: 1.5rem;
  align-self: center;
  width: 40%;
}