* {
  box-sizing: border-box;
}
body {
  background-color: rgb(244, 244, 244);
  color: rgb(65, 75, 60);
  font-family: 'Bitter', serif;
}
.container {
  border: 1px solid rgb(210, 210, 210);
  border-radius: 6px;
  box-shadow: 0px 1px 6px -2px rgb(128, 127, 127);
  margin: 16px 8px;
  padding: 16px;
  background-color: white;
}
.container.form {
  display: flex;
  align-items: baseline;
}
.form-group {
  padding: 0 24px 0 24px;
  display: flex;
  flex-direction: column;
}
a {
  font-size: 0.75em;
}
h1, h2, h3, h4 {
  color: slateblue;
}
form h2, h4, h4 {
  color: darkblue;
}
label {
  display: flex;
  margin-bottom: 16px;
  justify-content: space-between;
}
input[type=text], select {
  height: 1.5rem;
}
button {
  color: darkblue;
  background-color: white;
  height: 2rem;
  width: 6rem;
  border-radius: 8px;
  border: 1px solid slateblue;
}
button:disabled {
  cursor: not-allowed;
  color: darkgray;
  border-color: darkgray;;
}