@import '@fontsource/roboto';

.App {
    display: flex;
    flex-flow: column;
    align-items: center;
}
.team_member, #add_member_form {
    width: 500px;
}
.team_member {
    padding: 8px;
}
.team_member + .team_member, #add_member_form {
    margin-top: 1em;
}
#add_member_form {
    display: flex;
    flex-flow: column;
    align-items: center;
}
input, select {
    border-radius: 5px;
    padding: 2px;
    margin: .5em 0 0 .5em;
}
button {
    margin: .75em 0 0 0;
}