body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container{
  border: 1px solid rgb(210, 210, 210);
  border-radius: 4px;
  box-shadow: 0px 1px 6px -2px rgb(128, 127, 127);
  padding: 32px;
  background-color: white;
  margin-bottom: 24px;
}
input, select, button {
  height: 1.5rem;
  width: 150px;
  margin: 8px 8px 8px 0;
}
button {
  color: crimson;
  background-color: white;
  border: 1px solid crimson;

  &:disabled {
    cursor: not-allowed;
    color: darkgray;
    border-color: darkgray;
  }
}
.submit {
  display: flex;
  justify-content: flex-end;
}