* {
  box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300&display=swap');

body {
  color: rgb(255, 255, 255);
  font-family: 'Karla', sans-serif;
  background-color: rgb(9, 9, 20);
  padding: 32px;
}
.container {
  border-radius: 4px;
  box-shadow: 0px 1px 6px -2px rgb(128, 127, 127);
  padding: 32px;
  background-color: rgb(9, 9, 20);
  margin: 0 auto;
  width: 75%;
}
h1, h2, h3, h4 {
  color: rgb(255, 255, 255);
}
h1 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-align: center;
}
h2 {
  font-size: 1.2rem;
  margin-bottom: 1.2rem;
}
label {
  display: flex;
  flex-direction: column;
  align-items: center;
  letter-spacing: 2px;
 
}
input, select, .submit button{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.5rem;
  width: 75%;
  margin: 15px;
  text-align: center;
  padding: 20px;
  letter-spacing: 2px;
}
button {
  color: rgb(233, 233, 233);
  background-color: rgb(60, 160, 218);
  padding: 10px;
  width: 150px;
  letter-spacing: 2px;

  &:disabled {
    cursor: not-allowed;
    color: lightgray;
    border-color: darkgray;
  }
}
.submit{
  display: flex;
  justify-content: center;
}

.submit button {
  background-color: rgb(226, 55, 149);
  height: 50px;
  font-size: 1.1rem;
  letter-spacing: 4px;
}

