.App {
    text-align: center;
}

body {
    background-image: url(C:\Users\tmartin2\Documents\Lambda\team-builder\my-app\src\background-image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    /* color: white; */
}

form {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.form-box {
    background-color: beige;
    width: 400px;
    height: 400px;
}

.member {
    background: lightseagreen;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12), 0 5px 2px rgba(0, 0, 0, 0.24);
    margin-top: 5px;
}

button {
    background-image: linear-gradient(-315deg, #ff7eb9 40%, #ff65a3 100%);
    border: 1px solid #ee0db6;
    border-radius: 4px;
    margin-top: 15px;
    padding: 10px 15px;
    font-size: 16px;
    color: white;
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.12),
        0 2px 2px 1px rgba(0, 0, 0, 0.24);
    transition: all 0.2 ease-in;
}
