html,
body {
  border: 0;
  font-family: "Helvetica-Neue", "Helvetica", Arial, sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
div,
span,
object,
iframe,
img,
table,
caption,
thead,
tbody,
tfoot,
tr,
tr,
td,
article,
aside,
canvas,
details,
figure,
hgroup,
menu,
nav,
footer,
header,
section,
summary,
mark,
audio,
video {
  border: 0;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cit,
code,
del,
dfn,
em,
ins,
q,
samp,
small,
strong,
sub,
sup,
b,
i,
hr,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
legend,
label {
  border: 0;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}
article,
aside,
canvas,
figure,
figure img,
figcaption,
hgroup,
footer,
header,
nav,
section,
audio,
video {
  display: block;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
table caption,
table th,
table td {
  text-align: left;
  vertical-align: middle;
}
a img {
  border: 0;
}
:focus {
  outline: 0;
}
.App {
  display: flex;
  flex-direction: column;
  padding: 40px 10%;
}
form {
  padding: 20px;
  align-self: center;
}
form label {
  padding: 20px;
}
form input {
  padding: 7px;
  margin: 0 5px;
  border: 1px solid #cccc;
}
.listContainer {
  display: flex;
  flex-direction: column;
}
.listContainer .listCard {
  display: flex;
  justify-content: space-between;
  border: 1px solid #ccc;
  border-radius: 12px;
  margin: 10px 0;
  padding: 12px 20px;
}
.listContainer .listCard button {
  height: 40px;
  width: 90px;
  border-radius: 4px;
  align-self: center;
}
