.App {
  text-align: center;
}

* {
  /* border: 1px solid black; */
}

div.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.form.container, .team.container {
  width: 40%;
  border: 1px solid gray;
  border-radius: 1rem;
  box-shadow: 0px 1px 6px -2px grey;
}

label {
  display: block;
  margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
