* {
  box-sizing: border-box;
}
body {
  background-color: rgb(244, 244, 244);
  color: rgb(65, 75, 60);
  font-family: "Bitter", serif;
  padding: 32px;
}
.container {
  border: 1px solid rgb(210, 210, 210);
  border-radius: 4px;
  box-shadow: 0px 1px 6px -2px rgb(128, 127, 127);
  padding: 32px;
  background-color: white;
  margin-bottom: 24px;
}
h1,
h2,
h3,
h4 {
  color: royalblue;
}
h1 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
h2 {
  font-size: 1.2rem;
  margin-bottom: 1.2rem;
}
label {
  display: flex;
  justify-content: space-between;
}
input,
select,
button {
  height: 1.5rem;
  width: 150px;
  margin: 8px 8px 8px 0;
}
button {
  color: crimson;
  background-color: white;
  border: 1px solid crimson;

  &:disabled {
    cursor: not-allowed;
    color: darkgray;
    border-color: darkgray;
  }
}
.submit {
  display: flex;
  justify-content: flex-end;
}
